.blog-head-wrapper{
  background-color: #FFE8E7;
  height: 50vh;
  display: flex;
  padding: 5px 200px;
  justify-content: center;
}
.blog-head-left{
  width: 100%;
  max-width: 70%;
  min-width: 70%;
  margin: auto 0;
}
.blog-head-right{
  width: 100%;
  max-width: 30%;
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-head-right img{
  height: 90%;
}
.blog-heading{
  font-size: 35px;
  font-weight: 600;
}
.home-to-blog-link{
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
  color: #676767;
}
.blog-grid-wrapper{
  display: flex;
}
.blog-grid-left{
  width: 100%;
  min-width: 55%;
  max-width: 55%;
}
.blog-grid-right{
  width: 100%;
  max-width: 40%;
  min-width: 40%;
}
.blog-navbar{
  display: flex;
  column-gap: 10px;
}
.blog-navlink{
  padding: 8px 10px;
  background-color: #FFE8E7;
  border-radius: 20px;
  border: 1px solid #676767;
  cursor: pointer;
}
.blog-navlink:hover {
  background-color: #E12312;
  color: #FFF;
}
.follow-us-social-media{
  display: flex;
}