.contactus-head-container{
  background-color: #FFE8E7;
}

.contact-us-head-wrapper{
  background-color: #FFE8E7;
  /* height: 50vh; */
  display: flex;
  padding: 20px 0px;
  width: 100%;
  max-width: 75%;
  min-width: 75%;
  margin: 0 auto;
  justify-content: center;
}
.contact-us-head-left{
  width: 100%;
  max-width: 60%;
  min-width: 60%;
  margin: auto 0;
}
.contact-us-head-right{
  width: 100%;
  max-width: 40%;
  min-width: 40%;
}
.contact-us-head-right img{
  height: 100%;
  width: 100%;
}
.contact-us-heading{
  font-size: 29px;
  font-weight: 600;
}
.home-to-contact-us-link{
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
  color: #676767;
}
.contact-us-get-in-touch-wrapper{
  height: 90vh;
  position: relative;
  text-align: center;
}
.contact-us-get-in-touch-heading{
  font-size: 30px;
  font-weight: 500;
  padding-top: 40px;
}
.fill-the-form-para{
  font-size: 13px;
  color: #676767;
  font-weight: 500;
  margin-top: 15px;
}
.get-in-touch-form{
  position: absolute;
  /* display: flex; */
  top: 25%;
  left: 25%;
  z-index: 30;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50%;
  box-shadow: 0px 4px 4px rgba(22, 25, 79, 0.25);
  padding: 40px 30px;
  background-color: #FFFFFF;
  /* height: 350px; */
}
.form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
  margin-top: 10px;
}
.form-group input{
  padding: 5px 30px;
  width: 100%;
  background-color: #FFE8E7;
  border: 1px solid #676767;
  border-radius: 10px;
  font-size: 12px;
}
.get-form-first-wrapper{
  width: 100%;
  max-width: 45%;
  min-width: 45%;
}
.get-form-second-wrapper{
  width: 100%;
  max-width: 45%;
  min-width: 45%;
}
.send-msg-btn{
  padding: 8px 10px;
  background-color: #E12312;
  display: block;
}
.get-in-touch-form-background{
  /* height: 40vh; */
  background-color: #FFE8E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
  /* bottom: 0; */
  margin-top: 200px;
  padding: 10px 50px;
}
.background-left img{
  width: 230px;
}
.background-right img{
  width: 160px;
  position: absolute;
  bottom: 10%;
  right: 3%;
}
.form-group1{
  display: block;
  margin-top: 34px;
}
.get-in-touch-contact-btn{
  padding: 8px 20px;
  background-color: #E12312;
  color: #FFFFFF;
  border: none;
  font-size: 13px;
  cursor: pointer;
  border-radius: 20px;
} 
.get-in-touch-form-wrapper{
  display: flex;
  justify-content: space-between;
}
.need-help-wrapper{
  text-align: center;
  height: 70vh;
}
.reach-out-para{
  color: #E12312;
  font-size: 13px;
  margin-top: 50px;
}
.need-more-help-heading{
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}
.complains-para{
  font-size: 13px;
  margin-top: 10px;
}
.need-help-cards-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  max-width: 80%;
  min-width: 80%;
  margin: 0 auto;
}
.need-help-card{
  width: 100%;
  max-width: 30%;
    min-width: 30%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
}
.need-help-card-logo{
  background-color: #FDD4D1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.need-help-card-logo img{
  width: 25px;
}
.need-card-sales-heading{
  font-weight: 500;
  font-size: 15px;
  margin-top: 15px;
}
.need-card-mail{
  color: #676767;
  font-size: 13px;
  margin-top: 10px;
}