.about-us-big-img-div{
  height: 450px;
  background-image: url("../../assets/Group 1171275023.png");
  background-size: cover;
  text-align: center;
  color: #FFF;
  position: relative;
}
.about-us-heading{
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 40px;
  font-weight: 600;
}
.about-us-to-home-link{
  position: absolute;
  top: 60%;
  left: 45%;
}