.about-us-big-img-div{
  height: 450px;
  background-image: url("../../assets/Group 1171275023.png");
  background-size: cover;
  text-align: center;
  color: #FFF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us-heading{
  /* position: absolute; */
  top: 50%;
  left: 45%;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;

}
.about-us-to-home-link{
  /* position: absolute; */
  top: 60%;
  left: 45%;
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
  justify-content: center;
  font-size: 13px;
  color: #FFFFFF;
  cursor: pointer;
}
.ambition-section-wrapper{
  height: 115vh;
}
.ambition-circle{
  background-color: #FCE5E4;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.ambition-section-container{
  display: flex;
  width: 100%;
  min-width: 85%;
  max-width: 85%;
  margin-left: 180px;
}
.ambition-left-section{
  width: 100%;
  min-width: 50%;
  max-width: 50%;
}
.ambition-right-section{
  width: 100%;
  min-width: 50%;
  max-width: 50%;
  margin-left: 30px;
  position: relative;
}
.ambition-small-cards-wrapper{
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
}
.ambition-about-us{
  color: #DC2C1D;
  font-weight: 500;
}
.ambition-heading{
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  width: 100%;
  max-width: 75%;
  min-width: 75%;
}
.aboutus-para{
  font-size: 15px;
  color: #343434;
  margin-top: 20px;
  width: 100%;
  max-width: 90%;
  min-width: 90%;
}
.aboutus-small-card{
  width: 100%;
  min-width: 19%;
  max-width: 19%;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(22, 25, 79, 0.25);
  border-radius: 20px;
  text-align: center;
}
.big-text{
  font-size: 20px;
}
.big-text span{
  color: #DC2C1D;
}
.aboutus-card-para{
  font-size: 12px;
  margin-top: 15px;
  line-height: 20px;
}
.aboutus-img1{
  width: 280px;
  position: relative;
  z-index: 10;
}
.aboutus-img2{
  position: absolute;
  right: 21%;
  top: 38%;
  z-index: 20;
  width: 280px;
}
.aboutus-img3{
  width: 280px;
    position: absolute;
    right: 60.7%;
    top: 69%;
    z-index: 30;
}